<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ClassProX</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <h1 class="ion-text-center">Menú de Asistencia a Clases</h1>
  <br>
  <ion-button  expand="full" fill="outline" shape="round" color="primary" [routerLink]="['/home']" >
    Iniciar Clase
  </ion-button>
  <br>
  <ion-button href="clases" expand="full" fill="outline" shape="round" color="secondary">
    Modificar Clase
  </ion-button>
  <br>  
  <ion-button expand="full" fill="outline" shape="round" color="danger">
    Eliminar Clase
  </ion-button>
  <br><br>
  <ion-button expand="full" fill="outline" shape="round" color="success" [routerLink]="['/registrarclase']">
    Registrar Clase!
  </ion-button>
  <br>  
  <br>  
  <ion-item>
    <img class="logo" src="assets/img/logo.png"/>
  </ion-item>
</ion-content>
