<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Registrar Clase</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      
      
      <icon-card>
        <img src="assets/img/QR.png" class="ion-padding">
      </icon-card>
   
    </ion-card-content>
   </ion-card>

   <ion-button expand="full" fill="outline" shape="round" color="success" [routerLink]="['/menu']">
    Volver
  </ion-button>

</ion-content>
