<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ClassProX</ion-title>
  </ion-toolbar>
  <ion-toolbar color="mycolor">
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Lista de Asistencia de Alumnos</ion-list-header>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-finn.png" />
      </ion-avatar>
      <ion-label>
        <h2>Finn Soto</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-han.png" />
      </ion-avatar>
      <ion-label>
        <h2>Han Perez</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-rey.png" />
      </ion-avatar>
      <ion-label>
        <h2>Rey Lopez</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-luke.png" />
      </ion-avatar>
      <ion-label>
        <h2>Luke Reyes</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Ausentes: </ion-list-header>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-poe.png" />
      </ion-avatar>
      <ion-label>
        <h2>Poe Flores</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-ben.png" />
      </ion-avatar>
      <ion-label>
        <h2>Ben Rojas</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-leia.png" />
      </ion-avatar>
      <ion-label>
        <h2>Leia Moreira</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/customer.img/avatar-yoda.png" />
      </ion-avatar>
      <ion-label>
        <h2>Yoda Nieto</h2>
        <h3>Seccion 003v</h3>
        <p>Sala 208, departamento de Informatica...</p>
      </ion-label>
    </ion-item>
  </ion-list> 

  

</ion-content>
